* {
  user-select: none;
}

.timeStr {
  font-weight: bold;
  font-size: 5em;
}

.timezone {
  text-align: left;
  position: relative;
  left: 0;
}

.dateString {
  font-size: 1.5rem;
}

h1 time span {
  width: 100%;
  font-size: 10vw;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

.ms {
  font-size: 5vw;
}

.mode-button {
  border-radius: .25rem;

}